/* SideNav */
* {
  user-select: none;
  -webkit-user-drag: none !important;
}
.sidenav {
  height: 100vh;
  border-right: 1.5px solid #dddcdd;
  overflow: none !important;
  @media (width<768px) {
  padding-top: none !important;
  overflow: auto;
  }
}
.sidenav > div:nth-of-type(1) {
  width: 100%;
}
.sidenav > p:nth-of-type(1) {
  color: #838283;
  font-weight: 500;
}

.sidenav > .icons > img,
.sidenav > .bottom-icons > img {
  cursor: pointer;
  image-rendering: optimizeQuality;
}
.sidenav > .bottom-icons {
  margin-top: auto;
}
/*  */
/*  */
/*  */
/* TopNav */
.topNav {
  height: 10vh;
  width: 100%;
  color: #010001;
  border-bottom: 1.5px solid #dddcdd;
  flex-wrap: wrap !important;
  @media (width<768px) {
    height: auto;
    width: 100%;
    /* gap: 1em; */
  }
}
.topNav > div:nth-of-type(1) {
  height: 100%;
  width: auto;
  margin-left: auto;
  justify-content: space-between;
  @media(width<768px) {
    width: 100%;
    margin-left: initial;
    margin-top: 1px;
  }
}
.topNav > div > a {
  margin-right: 5em;
  @media (width<768px) {
    display: none !important;
  }
}
.topNav > div > div > p:nth-of-type(1) {
  font-weight: 600;
  font-size: 1.1em;
}
.topNav > div > div > p:nth-of-type(2) {
  font-size: 0.9em;
  color: #666767;
}
/*  */
/*  */
/* Compose Box */
.composeBox {
  width: 20vw;
  height: 100%;
  border-right: 1.5px solid #dddcdd;
  @media(width<1000px){
    display: none !important;
  }
}
.composeBox > button:nth-of-type(1) {
  background-color: #004fff;
  color: #ffffffff;
  width: 100%;
  border-radius: 8px;
  justify-content: center;
  font-weight: 500;
}
.composeBox > .dropdown > .dropdown-toggle {
  width: 100%;
  font-weight: 600;
  font-size: 1em;
  background-color: transparent;
}
.composeBox > .dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
}
.composeBox > .dropdown > .dropdown-menu > button.dropdown-item {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  animation: slideIn 0.3s ease-in-out;
  animation-fill-mode: both;
  justify-content: space-between;
  font-weight: 600;
  color: #838283;
}
.composeBox > .dropdown > .dropdown-menu > button.dropdown-item * {
  color: #838283 !important;
}
.composeBox > .dropdown > .dropdown-menu > button.dropdown-item > div > img {
  height: 100%;
  margin-right: 8px;
}
.composeBox > .dropdown > .dropdown-menu > button.dropdown-item:focus {
  background: #f4f5f5;
  color: #010001 !important;
}
.composeBox > .dropdown > .dropdown-menu > button.dropdown-item:focus * {
  color: #010001 !important;
}
.composeBox > .dropdown > .dropdown-menu > button.dropdown-item:last-child *{
  font-weight: 600 !important;
}

@keyframes slideIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*  */
/*  */
/*  */
.mailList{
  width: 20vw;
  height: 100%;
  border: 1px solid #f00;
  @media(width<768px) {
    display: none !important;
  }
}