* {
  box-sizing: border-box;
  }
  .home {
    background: #fefffe !important;
    overflow: none !important;
}
.home > .main-home{
  height: 100vh;
  width: 100%;
}
.home > .main-home > .home-inner{
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
