* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  padding: 0 1em 0 1em;
}
select{
  cursor: pointer;
}
button {
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
button:hover {
  transform: scale(1.05);
}